<a href="https://colab.research.google.com/github/tandin09/upskilling2022/blob/main/Copy_of_2_4_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
popularresturents = ['Koreantown', 'ThaiMaccau', 'ChezMartine','HardRock','Applebees']
print(popularresturents)

['Koreantown', 'ThaiMaccau', 'ChezMartine', 'HardRock', 'Applebees']

## 2.	Print out those variables by using a for loop

In [ ]:
for resturent in popularresturents:
 print(resturent)

Koreantown
ThaiMaccau
ChezMartine
HardRock
Applebees

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
for resturent in popularresturents:
  print(resturent.title() + " serves really good food")

Koreantown serves really good food
Thaimaccau serves really good food
Chezmartine serves really good food
Hardrock serves really good food
Applebees serves really good food

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:

even = list(range(0,20,2))
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## 5.	Sort your list in alphabetic order.

In [ ]:
popularresturents = ['Koreantown', 'ThaiMaccau', 'ChezMartine','HardRock','Applebees']
popularresturents.sort()
print(popularresturents)

['Applebees', 'ChezMartine', 'HardRock', 'Koreantown', 'ThaiMaccau']

## 6.	Print out the first three elements of your list.

In [ ]:
popularresturents = ['Koreantown', 'ThaiMaccau', 'ChezMartine','HardRock','Applebees']
print(popularresturents[0:3])

['Koreantown', 'ThaiMaccau', 'ChezMartine']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
popularresturents = ['Koreantown', 'ThaiMaccau', 'ChezMartine','HardRock','Applebees']
print(" expensive resturent to go to")
for expensiveresturents in popularresturents[2:4]:
  print(expensiveresturents.title())

 expensive resturent to go to
Chezmartine
Hardrock